.card {
    width: calc(100% / 6);
    padding: 0 .75rem;
    margin-bottom: 1.5rem;

    &-image:hover {
        opacity: 80%;
        transition: 0.6s;
    }

    &-image {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

@media(max-width: 577px){
    .card {
        width: 100%;
    }
}